version: '3.8'

services:
  webserver:
    build: 
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    command: sh -c "make clean && make all && ./webserver"
    stdin_open: true
    tty: true