version: '3.8'

services:
  webserver:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    command: bash -c "make clean && make all && ./webserver"
    stdin_open: true
    tty: true